* {
  font-weight: 10px;
  box-sizing: border-box;
}

h1 {
  font-weight: 7.5rem;
  text-align: center;
}
section {
  background-color: lightgray;
  border: 3px solid black;
}
.menu1, .menu2, .menu3 {
  width: 300px;
  padding-bottom: 20px;
  padding-left: 20px;
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}
.menu1 h2, .menu2 h2, .menu3 h2 {
  margin-left: 70%;
  text-align: center;
  padding: 3px;
  border: 1px solid black;
}
.menu1 h2 {
  background-color: pink;
}
.menu2 h2 {
  background-color: red;
}
.menu3 h2 {
  background-color: yellow;
}

@media (min-width: 992px) {
  .menu1 {
    width: 30%;
  }
  .menu2 {
    width: 30%;
  }
  .menu3 {
    width: 30%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu1 {
    width: 40%;
  }
  .menu2 {
    width: 40%;
  }
  .menu3 {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .menu1 {
    width: 100%;
  }
  .menu2 {
    width: 100%;
  }
  .menu3 {
    width: 100%;
    justify-content: center;
  }
}
